.modalForm {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);

  }
  
  .modal_contentForm {
    position: relative;
    background-color: #008ead;
    padding: 20px;
    border-radius: 25px;
    color: white;
    animation: fadeIn 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    justify-content: space-around;
    padding: 20px;
    display: flex;
    justify-content: center;

    align-items: center;
  }
  .modal_contentForm input{
   
    width: 50%;
    height: 50px;
  }
  .modal_contentForm button{


  }

.dbCard_btn{
    color: white;
    background-color: #007897;
    right: 40px;
    position: absolute;
}