.etiqueta{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90vw;
    height: 90vw;
    border: 1px solid white;
  


}

.container_etiqueta{
   width: 101.5mm;
   height: 63.5mm;
    border: 1px solid rgb(235, 14, 14);
    line-height: 200%;

}