#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.form{
  border: 1px solid rgb(238, 236, 236);
  border-radius: 10px;

  display: flex;
  width: 60vw;
  flex-direction: column;
  align-items: center;
}


.form_title_first{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.form_title{
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 500;
}
.form_placeholder{
  text-align: center;
  width: 50%;
  border-radius: 10px;
  align-items: center;
  font-size: 20px;
}

.form_input{
  width: 50%;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}
.form_input:hover{
  color: #888;
  transition: 300ms ease;
}

ul{
  list-style: none;
}

.form_datas{
  display: grid;
  grid-template-areas: 
  "title1 title2"
  "title3 title4"
  ;
  gap: 10px;
  height: auto;
  grid-template-columns: 1fr 1fr;
  padding-top: 20px;
 
}

.form_datas div:nth-child(1){grid-area: title1; color: #888;}
.form_datas div:nth-child(2){grid-area: title2; color: #888;}
.form_datas div:nth-child(3){grid-area: title3; color: #f1e9e9; }
.form_datas div:nth-child(4){grid-area: title4; color: #f1e9e9;}

.form_datas div:nth-child(3) span{font-size: 20px; color: red; }
.form_datas div:nth-child(4) span{font-size: 20px; color: red;}

.navigationButtons {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 40px;
}
 
.navigationButtons a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid red;
  color: red;
  cursor: pointer;
}
 
.navigationButtons a:hover {
  color: white;
  background-color: red;
}
 
.navigationActive a {
  color: white;
  background-color: red;
}
 
.navigationDisabled a {
  color: grey;
  background-color: grey;
}


.container_price_principal{


width: 80vw;

display: flex;
flex-wrap: wrap;
justify-content: space-around;
gap: 10px;
}